// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
#include "bcm2711.dtsi"
#include "bcm2711-rpi.dtsi"
#include "bcm283x-rpi-wifi-bt.dtsi"

/ {
	compatible = "raspberrypi,4-compute-module", "brcm,bcm2711";

	chosen {
		/* 8250 auxiliary UART instead of pl011 */
		stdout-path = "serial1:115200n8";
		bootargs = "8250.nr_uarts=1";
	};

	sd_io_1v8_reg: regulator-sd-io-1v8 {
		compatible = "regulator-gpio";
		regulator-name = "vdd-sd-io";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
		regulator-settling-time-us = <5000>;
		gpios = <&expgpio 4 GPIO_ACTIVE_HIGH>;
		states = <1800000 0x1>,
			 <3300000 0x0>;
		status = "okay";
	};

	sd_vcc_reg: regulator-sd-vcc {
		compatible = "regulator-fixed";
		regulator-name = "vcc-sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		enable-active-high;
		gpio = <&expgpio 6 GPIO_ACTIVE_HIGH>;
	};
};

&bt {
	shutdown-gpios = <&expgpio 0 GPIO_ACTIVE_HIGH>;
};

/* EMMC2 is used to drive the eMMC */
&emmc2 {
	bus-width = <8>;
	vqmmc-supply = <&sd_io_1v8_reg>;
	vmmc-supply = <&sd_vcc_reg>;
	broken-cd;
	/* Even the IP block is limited to 100 MHz
	 * this provides a throughput gain
	 */
	mmc-hs200-1_8v;
	status = "okay";
};

&expgpio {
	gpio-line-names = "BT_ON",
			  "WL_ON",
			  "PWR_LED_OFF",
			  "ANT1",
			  "VDD_SD_IO_SEL",
			  "CAM_GPIO",
			  "SD_PWR_ON",
			  "ANT2";

	ant1: ant1-hog {
		gpio-hog;
		gpios = <3 GPIO_ACTIVE_HIGH>;
		/* internal antenna enabled */
		output-high;
		line-name = "ant1";
	};

	ant2: ant2-hog {
		gpio-hog;
		gpios = <7 GPIO_ACTIVE_HIGH>;
		/* external antenna disabled */
		output-low;
		line-name = "ant2";
	};
};

&genet {
	phy-handle = <&phy1>;
	phy-mode = "rgmii-rxid";
	status = "okay";
};

&genet_mdio {
	phy1: ethernet-phy@0 {
		/* No PHY interrupt */
		reg = <0x0>;
	};
};

/* uart0 communicates with the BT module */
&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_ctsrts_gpio30 &uart0_gpio32>;
	uart-has-rtscts;
};

/* uart1 is mapped to the pin header */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_gpio14>;
	status = "okay";
};

&wifi_pwrseq {
	reset-gpios = <&expgpio 1 GPIO_ACTIVE_LOW>;
};


/ {
    battery: battery@0 {
        compatible = "simple-battery";
        device-chemistry = "lithium-ion";
        constant-charge-current-max-microamp = <2100000>;
        voltage-max-design-microvolt = <4200000>;
        re-charge-voltage-microvolt = <4000000>;
        voltage-min-design-microvolt = <3300000>;
        energy-full-design-microwatt-hours = <24790000>;
        charge-full-design-microamp-hours = <6700000>;
    };

    ocp8178_backlight: backlight@0 {
        compatible = "ocp8178-backlight";
        backlight-control-gpios = <&gpio 9 0>;
        default-brightness = <5>;
    };
};


&i2c1 {
    #address-cells = <1>;
    #size-cells = <0>;
    pinctrl-names = "default";
    pinctrl-0 = <&i2c1_gpio44>;
    status = "okay";

    adc101c: adc@54 {
        reg = <0x54>;
        compatible = "ti,adc101c";
        status = "okay";
    };
};

&spi4 {
    pinctrl-names = "default";
    pinctrl-0 = <&spi4_pins>;
    cs-gpios = <&gpio 4 1>;
    status = "okay";

    spidev4_0: spidev@0 {
        compatible = "spidev";
        reg = <0>;    /* CE0 */
        #address-cells = <1>;
        #size-cells = <0>;
        spi-max-frequency = <125000000>;
        status = "okay";
    };
};

&gpio {

	spi4_pins: spi4_pins {
		brcm,pins = <6 7>;
		brcm,function = <7>;
	};
};

&i2c0 {
    #address-cells = <1>;
    #size-cells = <0>;
    pinctrl-0 = <&i2c0_gpio0>;
    pinctrl-names = "default";
    status = "okay";
    compatible = "brcm,bcm2708-i2c";

    axp22x: pmic@34 {
        interrupt-controller;
        #interrupt-cells = <1>;
        compatible = "x-powers,axp221";
        reg = <0x34>; /* i2c address */
        interrupt-parent = <&gpio>;
        interrupts = <2 8>;  /* IRQ_TYPE_EDGE_FALLING */
        irq-gpios = <&gpio 2 0>;

        regulators {
            x-powers,dcdc-freq = <3000>;
            reg_aldo1: aldo1 {
                regulator-always-on;
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-name = "audio-vdd";
            };
            reg_aldo2: aldo2 {
                regulator-always-on;
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-name = "display-vcc";
            };
            reg_dldo2: dldo2 {
                regulator-always-on;
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-name = "dldo2";
            };
            reg_dldo3: dldo3 {
                regulator-always-on;
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-name = "dldo3";
            };
            reg_dldo4: dldo4 {
                regulator-always-on;
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                regulator-name = "dldo4";
            };
        };

        battery_power_supply: battery-power-supply {
            compatible = "x-powers,axp221-battery-power-supply";
            monitored-battery = <&battery>;
        };

        ac_power_supply: ac_power-supply {
            compatible = "x-powers,axp221-ac-power-supply";
        };
    };
};

&dsi1 {
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";

    port {
        dsi_out_port: endpoint {
            remote-endpoint = <&panel_dsi_port>;
        };
    };

    panel_cwu50: panel@0 {
        compatible = "cw,cwu50";
        reg = <0>;
        reset-gpio = <&gpio 8 1>;
        backlight = <&ocp8178_backlight>;
        rotation = <90>;
        iovcc-supply = <&reg_aldo2>;

        port {
            panel_dsi_port: endpoint {
                remote-endpoint = <&dsi_out_port>;
            };
        };
    };
};
